{% extends 'base.html' %}
{% block content %}
    <span class="title">
        <h1>{% block title %}FAQ{% endblock  %}</h1>
    </span>
    <div style="text-align: center;">
    <form method="POST">
        <p>
            <textarea id="content"
                      name="content"
                      placeholder="Вопрос"
                      cols="30" rows="3">
            </textarea>
        </p>
        <p>
            <textarea id="answer"
                      name="answer"
                      placeholder="Ответ"
                      cols="30" rows="3">
            </textarea>
        </p>
        <p><input class="btn btn-primary" type="submit" value="Отправить"></p>
    </form>
    {% for q in questions %}
        <hr>
    <h4>Вопрос: {{ q.content }}</h4>
    <h4>Ответ: {{ q.answer }}</h4>
        <hr>
    {% endfor %}
    </div>
{% endblock %}